<section class="sensors-panel">
  <div class="section-header">
    <p>Lecturas del motor</p>
    <h2>Sensores simulados desde Wokwi</h2>
  </div>

  <div class="metrics-grid">
    <app-motor-metric-card
      title="Temperatura"
      [value]="sensors.tempC"
      unit="°C"
      description="Rango simulado: 0 a 120 °C. Warning si supera 80 °C."
      [status]="getTemperatureStatus()"
    />

    <app-motor-metric-card
      title="Vibración"
      [value]="sensors.vibG"
      unit="g"
      description="Rango simulado: 0 a 5 g. Warning si supera 3.0 g."
      [status]="getVibrationStatus()"
    />

    <app-motor-metric-card
      title="Corriente"
      [value]="sensors.currentA"
      unit="A"
      description="Rango simulado: 0 a 30 A. Se muestra como dato de monitoreo."
      [status]="getCurrentStatus()"
    />

    <app-motor-metric-card
      title="Velocidad"
      [value]="sensors.speedRpm"
      unit="RPM"
      description="Rango simulado: 0 a 3600 RPM. Se muestra como dato de monitoreo."
      [status]="getRpmStatus()"
    />
  </div>
</section>
